<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewLayout</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
</head>
<body>
    <div class="container-fluid body-content">
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>