@{
    ViewData["Title"] = "Index";
}

<h2>Account Index View</h2>
<form method="post" class="form-horizontal" action="/Account/FacebookLogin">
    <button type="submit" name="facebookauth" id="facebookauth" value="Facebook" title="Log in using your Facebook account">Facebook</button>
</form>