@{
    ViewData["Title"] = "Index";
}
<h2>Home Controller - Index Page</h2>
<form method="post" action="/Account">
    <button type="submit" name="jumptoaccount" id="jumptoaccount" value="Login" title="Login">Login</button>
</form>